
.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.card-header {
    background-color: #f8f9fc;
    border-bottom: 1px solid #dee2e6;
}

.form-control {
    border-color: #d2d2d2;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.text-muted {
    position: relative;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.online-indicator {
    position: absolute;
    top: 10px;
    /* Điều chỉnh vị trí dấu chấm nhấp nháy */
    right: 10px;
    /* Điều chỉnh vị trí dấu chấm nhấp nháy */
}

.pulsating-dot {
    display: inline-block;
    width: 10px;
    /* Đường kính của dấu chấm */
    height: 10px;
    /* Đường kính của dấu chấm */
    border-radius: 50%;
    /* Làm cho dấu chấm thành hình tròn */
    background-color: #0cd10c;
    /* Màu của dấu chấm */
    animation: pulsate 1s ease-out infinite;
    /* Tạo hiệu ứng nhấp nháy */
    margin-right: 5px;
    /* Khoảng cách giữa dấu chấm và văn bản */
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}