/* App.css */

.navbar {
  background-color: #088cb8; /* Màu xanh dương nhạt */
}

.navbar-brand, .nav-link {
  color: #9ed3f0 !important; /* Màu trắng cho văn bản */
}

.navbar-brand:hover, .nav-link:hover {
  color: #0072e3 !important; /* Màu sáng hơn khi hover */
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 1rem; /* Khoảng cách giữa các mục menu */
}
