/* App.css */
nav {
  background-color: #4CAF50; /* Change background color */
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar-left {
  flex: 1;
}

.navbar-middle {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-middle ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-middle li {
  display: inline;
  margin-right: 20px;
}

.navbar-middle a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-middle a:hover {
  text-decoration: underline;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar-right ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-right li {
  display: inline;
  margin-right: 10px;
}

.navbar-right a {
  color: #fff;
  text-decoration: none;
}

.navbar-right a:hover {
  text-decoration: underline;
}
